.text-normal {
    font-weight: normal;
}

.text-list {
    display: block;
}

.text-gray {
    color: gray !important;
}

.tsize-12 {
    font-size: 12px !important;
}

.tsize-14 {
    font-size: 14px !important;
}

.tsize-16 {
    font-size: 16px !important;
}

.tsize-18 {
    font-size: 18px !important;
}

.main-item {
    padding: 0 30px 0 0;
    text-align: justify;
}

.main-item > h3 > i {
    margin-left: 10px;
}
